<h2>About the STEREO 3D Reconstruction Studio (S3DRS)</h2>

<p>
We present a toolkit for setting up, running, and visualizing 3D tomographic
reconstructions using multiple viewpoints obtained from SECCHI coronagraph data
(STEREO spacecraft) and LASCO coronagraph data (SOHO spacecraft).
We encourage others to use our tools
and even modify them for use with other data sets.

<p>
We present a geometric and numerical framework for ingesting data
from multiple viewpoints, an implementation of inverse
(non-parametric) reconstruction using the
proprietary "Pixon" algorithm, an alternative reconstruction method
using a forward modeling approach, and a set of visualization tools
for examining the result.  We also provide a simple GUI that handles
all steps of the reconstruction process.

<p>
These tools were developed in IDL and require use of IDL and the
SolarSoftware library to function.  All tools are released via SolarSoftware.

<p>
The principal staff include:
<ul>
<li>Sandy (Alex) Antunes, NRC fellow at NRL</li>
<li>John Cook, NRL scientist</li>
<li>Amos Yahil, Pixon LLC</li>
</ul>
Additional development for earlier versions was provided by Jeffrey Newmark (NRL) and Paul Reiser (NRL).

<p>
The primary website for this project is via the
<a href="http://secchi.nrl.navy.mil/wiki">SECCHI wiki</a>.
NRL work on this project was completed in May 2009.
