<h2>Adding New Instrument and Missions</h2>

<p>
To add new instruments and missions, there are only 3 routines that require modification.  They are all located in the 's3drs/idl/instr/' directory.

</p><p>
<em>p_instrspec.pro:</em>
</br />
	Contains all instrument parameters.  You need to append to each array the instrument specifications:
<ul>
<li>	instrlist: a one-word name</li>
<li>	s3drsvalid: whether it is valid in 's3drs' (i.e. 1=use it, 0=just testing)</li>
<li>	fov_radius_in_sun: the radius (not diameter) of the field of view, in units of Rsun.</li>
<li>	occulter: the radius of the occulter, if any, in units of Rsun.</li>
<li>	DNperPhoton: the conversion factor between DN (digital units) within the data and photons incident on detector</li>
<li>	DN2MSB: the conversion factor between the data's natural units, presumed to be MSB (mean solar brightness, B/B0) and DN.</li>
</ul>

		data(photons) = (data(MSB) / (DN2MSB*DNperPhoton)) * exposure_time

</p><p>

<em>p_scchdr:</em>
<br />
	Reads a standard FITS header and attempts to find the relevant geometry information.  This, alas, requires that the new data FITS header be compliant with the standards as interpreted here.  So this may or may not need modifications for new data sets.

</p><p>
<em>p_otherdata:</em>
<br />
	This is the primary routine for loading in instrument data.
<p>
This stub lets you add new instruments to S3DRS reconstruction.
This routine expects the input date (in the format
YYYYMMDD_HHMM) and returns the data plus the FITS
header.  The optional /background flag tells it to return
the appropriate background file for that date instead of
that day's data.
</p><p>
This routine populates 'dataout' with HAE-oriented data and also
populates 'hdrout' with FITS header.
This routine does not yet handle failure well, since we actually want
this to fail if it cannot load or find data!  The 'quickcme'
wrapper used by S3DRS to set up reconstruction
uses the lack of existence of 'hdrout' as a sign to
gracefully warn the user and continue appropriately, so in essence
we moved the error checking to that routine.
</p><p>
In the code is one sample case put in, 'local', which expects a
FITS file in the working directory named as [date].fts or
(for backgrounds) [date]background.fts.
It is provided mostly as an example, but is entirely valid if you
just want to import data from an external generator using this.
</p><p>
Note we use a case statement that forces the instrument name to
upper case (for less ambiguous matches), so make sure your case
syntax in this routine uses upper case (as with the 'LOCAL' example).
</p>
