<h3>Backprojection</h3>

<p>
Our WL backprojection routine is 'pr_backproject' and my wrapper for doing back projection reconstructions is 'simple3drv', both checked into /dev.

<p>
To get a backprojected reconstruction, try (assuming you have saved data headers 'hdrs' and image pair 'dataset'):

<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    prep_3drv,N=128,views=2,/cor2,px ; initialize our geometry structure
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    p_scchdr,hdrs[0],N=128,pxwrapper=px,iele=0; fill structure from A hdr
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    p_scchdr,hdrs[1],N=128,pxwrapper=px,iele=1; ditto for B

<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    imagecube=simple3drv(dataset,px,/backproject,/usemax,/norm,/carve)
