<h2>References</h2>

<p>
Antunes, A., Thernisien, A., and Yahil, A., 2009, Hybrid Reconstruction to Derive 3D Height-Time Evolution for Coronal Mass Ejections", Solar Physics, 256, Vol 1-2

</p><p>
Aschwanden, M.J., Newmark, J.S., et al.: 1999, "3-D Stereoscopic Analysis of Solar Active Region Loops: I. SOHO/EIT 171 A Observations at Temperatures of 1.0-1.5 MK", Ap. J. 515, 842

</p><p>
Billings, D.E.: 1996, A Guide to the Solar Corona, New York: Academic Press

</p><p>
Cook. J.W., Newmark, J.S., Reiser, P.A., Crane, P.C., Yahil, A., Gosnell, T., Puetter, R.: 2002, "3D Heliospheric Reconstructions from the SECCHI White Light Coronagraphs Onboard STEREO: Results From the Early Reconstructions", STEREO Workshop Proceedings 1, http://stereo-ssc.nascom.nasa.gov/meetings/workshop1/

</p><p>
Dere et al 1997, "EIT and LASCO Observations of the Initiation of a Coronal Mass Ejection", Solar Physics, 175, 2, 601

</p><p>
Frazin, R.A. and Karmalabadi, F.: 2005, "Rotational Tomography for 3D Reconstruction of the White-Light and Euv Corona in the Post-Soho Era", Solar Physics, 228, 1, 219

</p><p>
Frazin, R.A. and Janzen, P.: 2002, "Tomography of the Solar Corona. II. Robust, Regularized, Positive Estimation of the Three-dimensional Electron Density Distribution from LASCO-C2 Polarized White-Light Images", Ap. J. 570, 408

</p><p>
Howard, R.A., Moses, J.D., Socker, D.G., Dere, K.P., Cook, J.W.: 2002, "Sun earth connection coronal and heliospheric investigation (SECCHI)", Adv. Space Res., 29, 12, 2017

</p><p>
Krall, J., Chen, J., Duffin, R.T., Howard, R.A., Thompson, B,J.: 2001, "Erupting Solar Magnetic Flux Ropes: Theory and Observation", Ap. J. 562, 1045

</p><p>
Metcalf, T.R. et al: 1996, "PIXON-BASED Multiresolution Image Reconstruction for YOHKOH'S Hard X-Ray Telescope", Ap. J. 466, 585

</p><p>
Newmark, J.S., Cook, J.W., Reiser, P.A., Yahil, A.: 2003: "3D Electron Density Reconstruction from the SECCHI White Light Coronagraphs Onboard Stereo", BAAS 35, 3

</p><p>
Newmark, J.S., Cook, J.W., Reiser, P., Thernisien, A.: 2004, "Comparison of Tomographic and Forward Modeling 3D Reconstructions of a Coronal Streamer", AGU 21, B0421

</p><p>
Puetter, R.C.: 1995, "Pixon-Based Multiresolution Image Reconstruction and the Quantification of Picture Information Content", Int. J. Image Sys. & Tech. 6, 314

</p><p>
Puetter, R.C. and Yahil, A.: 1999, "The Pixon Method of Image Reconstruction", in ADASS VIII, ASP Conf. Series 172, 307

</p><p>
Saito, K.: 1950, "Brightness and Polarization of the Solar Corona", Ann. Tokyo Astr. Obs., 3, 3

</p><p>
Wood, B.E., Karavska, M., Chen, J., Brueckner, G.E., Cook, J.W., Howard, R.A.: 1999, "Comparison of Two Coronal Mass Ejections Observed by EIT and LASCO With A Model Of An Erupting Magnetic Flux Rope", Ap. J. 512, 484
