<h2>Welcome to Cor2</h2>

<p>
The Cor2 coronagraphs are part of the
<a href="http://secchi.nrl.navy.mil/">Sun Earth Connection Coronal and Heliospheric Investigation (SECCHI)</a>
package onboard
the twin <a href="http://stereo.gsfc.nasa.gov/">STEREO</a>
spacecraft.
The Cor2 detectors each observe a range from 2 to 15 solar radii.
</p>

<!--
<img src="/images/view/corOverlap.gif" alt="overlap of Cors" align=center>
-->

<p>
The STEREO mission is the third in the line of Solar-Terrestrial
Probes (STP) and is a strategic element of the Sun-Earth Connections
Roadmap. STEREO is designed to view the three-dimensional (3D) and
temporally varying heliosphere by means of an unprecedented
combination of imaging and in situ experiments mounted on virtually
identical spacecraft flanking the Earth in its orbit.
</p>

<!--
<img src="/sccimages/Cor_A/20071116/256/20071116_162220_tbc2A.png"
alt="CME on 11/16/07 in CorA">

<img src="/sccimages/Cor_B/20071116/256/20071116_162220_tbc2B.png"
alt="CME on 11/16/07 in CorB">
-->

<p>

SECCHI coronagraphs mask the solar disk, whose brightness is more than
105 that of the corona.  The coronagraph measures the total brightness
or polarization brightness integrated over the line of sight through
the optically thin corona.
</p>

<h2>Image Gallery</h2>

<p>
Daily images are available for
<a href="http://secchi.nrl.navy.mil/sccimages/index.php?subdir=Cor_B&nothumb=1">Cor2 A</a>
and
<a href="http://secchi.nrl.navy.mil/sccimages/index.php?subdir=Cor_A&nothumb=1">Cor2 B</a>,
typically 2 days after they are acquired onboard
the spacecraft.  These gallery images have a background subtracted
to enhance the observed active regions such as streamers and
CMEs.
</p>

<h2>About STEREO</h2>

<p>
STEREO is a pair of identical spacecraft, A and B, launched into a
leading and trailing Earth orbit.  The twin spacecraft, equipped with
identical instruments, will observe the Sun simultaneously from two
different angles, allow for the first time three-dimensional viewing
of solar features such as coronal mass ejections (CMEs).  The initial
viewing angles will be partially overlapping and, as the mission
progresses, the angle of separation will increase until the views
cover entirely separate regions.  At such large separations, we obtain
the additional advantage that events such as CMEs observed by one
craft can be directly sampled by the second craft.
</p>
