<h1>Definitions
</h1>
<p>
<em>Pixon</em>: software using the pixon
algorithm for reconstruction.
"Classic" uses a cartesian grid, "Tetrahedral"
uses an arbitrary grid.
</p>
<p>
<em>RTWL</em>: Raytrace WhiteLight, a renderer
(only, no reconstruction) with front-end GUI.
</p>
<p>
"Data": 2-dimensional images,
from a spacecraft or created via a rendering of a model.
</p>
<p>
"Image": a 3-dimensional data cube
containing electron density measurements.  An image is
rendered to produce data.
</p>
<h1>A Chen Flux Rope
</h1>
<img src="11_fluxrope_128die.jpg">
