<h1>Memory Issues</h1>

<h2>Summary</h2>
<ul>
<li>IDL 32-bit architecture limited: N < 550 in 32-bit IDL</li>
<ul>
<li>Typical 32-bit architecture can address only 2GB of memory</li>
<li>No run (on 32-bit architecture) can have more than 2^32 indices
<li>Pixon uses an N^3 * 8 bytes array, thus an N<629 limit
</ul>
<li>Swap space limited: N=512 feasible with just 16GB swap
(Pixon creates up to 30 array instances during its operation)</li>
<li>RAM limited: likely 3GB or more of physical RAM needed for N=256</li>
<li>RAM max space must be unfragmented, contiguous memory
</ul>

<h2>Details</h2>

<p>
There are several memory concerns with running Pixon on any given machine.
If a 32-bit machine has more than 16GB of shared memory in /dev/shm
and more than 3GB of physical RAM, it should in theory be able to do N=256.

</p><p>

1) IDL 32-bit architecture limited: N < 550 in 32-bit IDL.

</p><p>
  a)  No run (on typical 32-bit architecture) can address >2GB of memory
     (even though the 32-bit limit is 4GB, most implementations _including
      32-bit IDL_ have a limit of 2GB).

</p><p>
      The biggest array is 3 * N^3 * 4 bytes so
<br />&nbsp; &nbsp; &nbsp; &nbsp; 
       N^3 <= 2e9/12
<br />&nbsp; &nbsp; &nbsp; &nbsp; 
       N < 550

</p><p>
      (Pixon also uses an N^3 * 8 bytes array, the N<629 result given earlier)

</p><p>
      Under a 32-bit architecture able to address 4GB, this would only go up
      to N<694. Under 64-bit architecture, typically 64MB is addressable
      and the maximum is N<1747.

</p><p>
   b)  No run (on 32-bit architecture) can have more than 2^32 indices, thus
       3 * N^3 < 2^32, N < 1127.  This is less than the issue above (indices
       versus bytes) so it's not the limiting factor in our estimates.

       Under 64-bit architecture, this is 2^64 and not an issue at all.

</p><p>
2) Swap space limited: N=512 feasible with just 16GB swap.

</p><p>
   Runs must fit into shared memory, size needed is N^3 * 1.2e-7 GB.
   Swap space is usually mounted as device '/dev/shm'.  So a
   /dev/shm > 16GB allows for N=512 runs; /dev/shm > 128GB for N=1024.

</p><p>
   Roughly, Pixon creates up to 30 array instances during its operation,
   most of 4 bytes.  So the amount of shared memory required to run is
     30 * N^3 * 4 bytes < shared_memory, thus
    shared memory needed =  N^3 * 1.2e-7 GB

</p><p>
    For N=64, /dev/shm > 31MB; N=128, /dev/shm > 250MB,
<br />
        N=256, /dev/shm > 2GB; N=512, /dev/shm > 16GB

</p><p>
3) RAM limited: likely 3GB or more of physical RAM needed for N=256.

</p><p>
   The available RAM (not counting swap) must be able to hold one
   instance of the largest array as a single contiguous block of RAM.
   The array is 4 bytes * 3 * N^3, or N^3 * 1.2e-5MB (or 1/10th the
   amount of swap we needed earlier).

</p><p>
   In theory, this means just 3MB for N=64, 25MB for N=128, 201MB of
   RAM for an N=256 run, or 1.6GB or RAM for an N=512 run (or 12GB of
   RAM for N=1024).

</p><p>
   However, because this must be unfragmented, contiguous memory,
   and IDL/Pixon typically grabs over 1GB of RAM prior to this,
   _and_ other processes or calls may have fragmented RAM, the
   actual amount of physical RAM needed is much higher.

</p><p>
   Current benchmarking estimates using N=64, N=128 and N=256 indicate
   that several times this amount generally needs to be available as
   free RAM at the time of the Pixon call.

</p><p>
   Of 2GB RAM, there is approximately 1.3GB free after IDL is invoked.
   Empiracly, we find: N=64 needs 52MB (not 3MB), N=128 needs 328MB
   (not 25MB), N=256 needs 'more than 1.3GB' (not 201MB).

</p><p>
   Array size: linear with N^3.  Free memory needed: 17x for N=64,
   13x for N=128, therefore it's likely we need >10x for N=256,
   or at least 2GB of physical contiguous RAM.  Add in the 0.7GB
   that IDL typically uses and we recommend that 3GB or more would
   be needed to reliably do N=256.

</p><p>
   For N=512, perhaps 120GB or more of physical RAM is necessary, though
   this is largely uninvestigated.  We'd need to see what the relationship
   is between array size and RAM needed for N=256 to accurately predict.

</p><p>
   (Data on usage via 'top' was:
<br />
    N=64 max usage:
<br />&nbsp; &nbsp; &nbsp; &nbsp; 
	  110mb virtual,  52mb resident,  25mb shared
<br />
    N=128 max usage:
<br />&nbsp; &nbsp; &nbsp; &nbsp; 
	  393mb virtual, 328mb resident, 158mb shared
<br />
    N=256 during 'OBJ_NEW':
<br />&nbsp; &nbsp; &nbsp; &nbsp; 
	  1.7gb virtual, 1.6gb resident, 0.7gb shared (52mb free)
<br />
    N=256 after 'Pixon count' (just before it fails):
<br />&nbsp; &nbsp; &nbsp; &nbsp; 
	  2.6gb virtual, 1.6gb resident, 0.54gb shared (50mb free)
<br />
    )
