<h1>Noise</h1>

<h2>DN to Photons</h2>
<ul>
<li>data(Photons) = dn2photons * (data(DN) - biasmean)</li>
<li>sigma(Photons) = sqrt[data(Photons)]</li>
<li>sigma(DN) = sigma(Photons)/dn2photons</li>
<h3>Fractional Method</h3>
Noise = data(Level1.0) * sigma(DN)/data(level0.5 in DN)
<h3>secchi_prep Method</h3>
<li>secchi_prep approx: data(Level1.0) = [ [data(Level0.5) - offsetbias] * dn2MSB / exptime] * flatfield</li>
<li>Noise = secchi_prep[sigma(DN)]</li>

<h2>Noise via 3 methods</h2>
<img src="16DNnoiseratios2.gif">


<h3>Noise Methods Comparison</h3>
<img src="28_sigmaDNtest.gif">

<h3>Noise for different signal levels</h3>
<img src="1vs100sec.gif">
