<h2>Reconstruction</h2>

<p>
3D Reconstruction is one method of stereoscopic analysis and involves the process of using multiple views of a single object from different view angles in an effort to determine the intrinsic 3-dimensional (3D) shape of the object.  With one viewpoint, only 2-dimensional feature qualities are observed and any underlying 3-D structure must be inferred from theory.  With more than one viewpoint, comparison of the projection effects in the images can be used to mathematically invert the images to determine an optimal 3D distribution of matter that would best reproduce the observed images.

</p>

<h3>Tomography</h2>

<p>
3D reconstruction to date (neatly summarized in Frazin and Kamalabadi, 2005) has focused on tomographic reconstruction.  Tomographic reconstruction uses data from a single spacecraft where the different viewpoints are also separated in time, using the sun's rotation to move the observed region to a different viewing angle.  In order to get approximately a 90 degree change in view angle, observations must be separated by a week or so, making this method only suitable for long-lived or quiescent solar features.

</p><p>
To model dynamic features such as CMEs, simultaneous or near-simultaneous observations from multiple view angles are required, and this is what SECCHI will provide.  With the two view angles from STEREO-A and STEREO-B, optionally combined with a third view from SOHO/LASCO, 3D reconstruction is possible (Cook et al, 2002).

</p>
<h3>Forward and Inverse Modeling</h3>
<p>
Reconstruction methods include forward modeling, where an underlying model shape is assumed and the parameters of that model are iteratively searched until a global minimum is reached.  Inverse modeling uses a parameter-free fit to solve for the distribution of the underlying material that can best reproduce the original data.

</p><p>
There is not yet one single 'best' method in the fledgling field of solar reconstruction (Newmark et al, 2004).  Different modeling approaches-- forward or inverse-- are chosen by the researcher.  For a given approach, the specific choice of algorithm will typically involve a trade-off of resolution and accuracy against run-time speed (how long the computation will take).

</p><p>
One key aspect of our tool is the integration of the solution method (PIXON, forward modeling, and others) with the visualization method (the choice of white light renderer).  This enables researchers to choose the best algorithm (including experimental algorithms) and most appropriate rendering method for a given problem. 

</p>
<h3>Pixon</h3>
<p>
For inverse modeling, we currently use the PIXON method (as described mostly recently by Puetter and Yahil, 1999).   The PIXON reconstruction algorithm is based upon a minimum complexity, non-parametric, locally adaptive, iterative image reconstruction method.  It seeks the smoothest solution that fits the data (Puetter and Yahil 1999), using adaptive gridding to restrict the number of voxels in the calculation.

</p><p>
The observed white light images are the result of Thompson scattering in the optically thin corona, and thus are a measure of the electron density of the corona.  While most off-the-shelf 3D reconstruction methods assume a solid surface or optically thick material, for solar corona data a renderer for optically thin solution must be used.  Two different renderers are already available for use with this project.
</p>
