<h1>Rotational Tomography Method</h1>
<h2>Sandy Antunes, Jan 2007</h2>


<h1>Rotational Tomography
</h1>
<ul>
<li>Have N_a views at time t_a with coordinates in HAE</li>
<li>Have N_b views at time t_b with coordinates in HAE</li>
<li>During time (t_a-t_b), the sun rotated 13.1988 degrees/day, in
a solar rotational frame, this is dR=0, dZ=0, d(phi)=alpha;
alpha = 13.1988 degrees * (t_a-t_b in days)</li>
<li>So convert N_b(HAE) -> Nb(Carr)</li>
<ul>
<li>                       = r, theta, phi
</ul><ul>
<li>                       Add in tomo rotation 'alpha'
<li>                       phi' = phi + alpha
<li>                       r'=r
<li>                       theta'=theta
</ul><ul>
<li>                       Convert back:
<li>                       Nb(Carr)' = N_b(HAE)'
</ul>
</ul>

<p>
(HAE=Heliospheric Aries Ecliptic, Carr=Carrington Heliographic Coordinates)

<p>
Currently, we ingest FITS coordinates and convert to HAE for the
reconstruction.  This means we typically neglect times, since HAE is
an absolute reference frame.  As a corrolary, this also means we
assume the user has selected observations in roughly the same time
frame so as to minimize feature evolution!

</h2>ROTATIONAL RECIPE:</h2>

Have N_a views at time t_a with coordinates in HAE
<br />
Have N_b views at time t_b with coordinates in HAE

<p>
During time (t_a-t_b), the sun rotated 13.1988 degrees/day, in
       a solar rotational frame, this is dR=0, dZ=0, d(phi)=alpha;
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
       alpha = 13.1988 degrees * (t_a-t_b in days)

<p>
So convert N_b(HAE) -> Nb(Carr)
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		       = r, theta, phi
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

		       Add in tomo rotation 'alpha'
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		       phi' = phi + alpha
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		       r'=r
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		       theta'=theta
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

		       Convert back:
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		       Nb(Carr)' = N_b(HAE)'

<p>
Continue as usual.
