<h2>3D Reconstruction of Whitelight Coronagraph Data</h2>
<h3>March 2009</h3>

<ol type='I'>
<li>Introduction</li>

<ol type='a'>
<li><a href="s3drs_report.pdf">What S3DRS is</a> (PDF, 4-page report)
<li><a href="setup.txt">Setup instructions</li>
<li><a href="recon.html">Tomography, Pixon, Forward modeling</a></li>
<li><a href="cor2.html">SECCHI Cor2 detectors</a></li>
<li><a href="citations.html">Background literature</a> and citations</li>
</ol>


<li>Using the tools</li>

<ol type='a'>
<li><a href="install.html">installation and requirements (incl. N=256 limit)</li>
<li><a href="3drv_summary.html">3DRV Summary</a></li>
<li>Definitions:</li>
  <ol>
  <li><a href="general.html">Terms</a></li>
  <li><em>Data</em> and <a href="units.html">data units</a> and <a href="datalocs.html">SECCHI/SOHO specifics</a> plus <a href="soho.coords">SOHO coordinates</a></li>
  <li><a href="3drv_cube.html">Densitycubes</a></li>
  <li><a href="3drv_axes.html">Axes</a></li>
  <li><a href="3drv_axes.html">Outputs</a></li>
  </ol>
<li>The <a href="usage.html">basic IDL structure</a> and
<a href="basics.html">running a reconstruction</li>
<li><a href="stdout.html">standard outputs and diagnostic figures</a></li>
<li>discussions on <a href="noise.html">noise</a></li>
<li>the stand alone <em>renderer</em> and
<a href="backproject.html">back projection</a></li>
<li>summary of <a href="viz.html">renderers and visualizations</a></li>
<li>tools for use with <a href="densityfits.html">densitycubes</a></li>
</ol>

<li>Validation and Verification Tests</li>

<ol type='a'>
<li><a href="tests.html">Render validation</a></li>
<li><a href="voxels.html">Voxels versus Pixons</a></li>
<li><a href="tests.html">Cross-Calibration</a></li>
</ol>

<li>Programming and Individual Modifications</li>

<ol type='a'>
<li><a href="adding_instr.html">API</a> for adding new instruments</li>
<li><a href="p_units.txt">Pixon internals</a>,
 <a href="scaling.txt">internal scaling</a>, and the
 <a href="pixon_devguide.pdf">Pixon Devguide (PDF)</a>
<li><em>flow charts</em> for how routines interlock</li>
<li>Discussion of <a href="memreport.html">memory limitations</a> with ILD Pixon</li>
<li>Implementation of <a href="rottomo.html">rotational tomography</a></li>
<li><a href="about_q.txt">About 'Q'</a>
<li>CLI-based <a href="cli.txt">hybrid modeling</a> experimental methods (not in GUI)
<li>Using <a href="b0tests.txt">Festival or pre-made L1</a> FITS</li>
<li><a href="to-do.txt">wishlist</a> and future ideas</li>
</ol>

</ol>
