<h2>The Basic IDL Structure</h2>

<p>
The basic information setup for using these reconstruction
tools is, for better or for worse, the 'pxwrapper' structure.
In IDL, you can see what is any structure with the "help,variablename,/str"
command.  We will cover what is in the 'pxwrapper' structure, primarily:
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    Location of the satellite viewpoint(s)
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    Instrument models, especially their fields of view, and data polarizations
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    Choice of data and image resolution, and units associated with that
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    Various bookkeeping details
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
    Pixon-specific variables, needed only if you're using Pixon


<p>
The 'pxwrapper' structure is initially created by the 'prep_3drv'
command and filled with default values that assume a single COR2 view at
a position of 0 degrees along the ecliptic.  This is fine for simply
rendering or backprojecting a face-on view.  For multiple viewpoints,
you'll have to specify additional information.

<p>
When you use the stand-alone renderer ('pr_render') or back projection routine ('pr_backproject'), you can just give an empty variable and it will assume a single face-on COR2 viewpoint, and populate that variable with all its required information.

<p>
To do work with multiple viewpoints, you can pass your requirements into the 'prep_3drv' routine:

<p>
   prep_3drv,pxwrapper,views=VIEWS,N=N,rho=[RHOS],phi=[PHIS],LL=[LLs],[/cor2,/c3,/cor1],polar=polar

<p>
You can give it initial positions as angles, with several variant names:
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   gamma/rho: angle around orbital plane, required
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   theta/phi: angle above orbital plane
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   z0 = height above x-y plane in scaled (to 1.0) units
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
   LL = distance from observer to sun in scaled (to 1.0) units
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
 /cor2 means it will set constants appropriate to Cor2A in MSB using
  the supplemental routine 'p_modelcor'.  Ditto for /c3 or /cor1

<p>
'polar' can be singular or array, can be empty, 'b'rightness', 'n'one,
't'angential, 'r'adial, or a numeric value for plane sets
only processing needed is to extract angles if it is a plane
