<h2>VISUALIZING DATACUBES</h2>

<p>
There are 3 possible renderers, and 4 primary visualization tools.

<h3>Renderers:</h3>

</p><p>
'ijkproj.pro': Simple Projection

</p><p>
'ijkproj' simply sums a 'projection' total along each IDL i,j,k axes plane for plotting. You tell it which 2 axes to sum as x,y, where there are 6 cases that define a cube: ij, ik, jk, kj, ji, ki

<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
	img_ij=ijkproj(timage,'ij')

</p><p>
While this is just a density summation and not a proper Thomson scattering, it does provide a rough approximation of the shape within a given density cube. It also requires no external libraries. It is in $NRL_LIB/dev/densitycube/.

</p><p>
SC Raytrace (formerly rtwl): NRL IDL+C renderer

</p><p>
See its web pages for details. It is in $NRL_LIB but requires a compiled object be installed.

</p><p>
Pixon: Licensed IDL renderer and reconstruction

</p><p>
Due to licensing issues, Pixon is not yet available outside of NRL, however, Pixon reconstruction products will be made available as they are produced. Pixon is currently limited to resolution 2563 due to memory usage, though we hope to reach 5123 in the future.

<h3>Visualization:</h3>

</p><p>
'threeview.pro': quick'n'dirty cube plots

</p><p>
This is a wrapper around 'ijkproj.pro' which produces a pretty plot of a density cube along each of the 3 major axes. It includes rescaling, log plots, and even a 'dice' mode (that prints all 6 sides of a density cube as a foldable die). It is in $NRL_LIB/dev/display/ and calls other routines in that directory.

</p><p>
PRO threeview,image,rescale=rescale,dieplot=dieplot,title=title,inverse=inverse,logplot=logplot,render=render,ps=ps, normalize=normalize,sample=sample,ct=ct,winid=winid, four=four,oom=oom,extras=extras,both=both,fontsize=fontsize, fixedsize=fixedsize

</p><p>
'slicer3': IDL default routine

</p><p>
IDL's built-in 3-D visualizer. Just give it an image cube and use its GUI to choose options.

</p><p>
SC Raytrace: NRL IDL+C renderer

</p><p>
See its web pages for details. It is in $NRL_LIB but requires a compiled object be installed.

</p><p>
render_rot_gui.pro: Interactive GUI wrapper for rendering

</p><p>
This interactive GUI takes an image cube and allows real-time 3D rotation and rendering. It first creates a wireframe representation, which the user can rotate using slider bars. Upon clicking 'Go', it applies the chosen renderers to produce the Thomson scattering (SC Raytrace and Pixon) or density summation (default) for the chosen line of sight, in both log and linear form.

<h3>Sample:</h3>

</p><p>
1) To create a model image, such as a fluxrope, you can type:

<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        buildcloud,33,N=32,cubesidersun=60,out=1
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        image=readcloudcube(33)

</p><p>
    Or, you can restore a fluxrope simulated reconstruction, using a file stored on 'creator'

<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        restore,'cfluxrope.dat',/verb
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
	; item 'timage' is a fluxrope model, and 'image' is a reconstruction solution.  N=32
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        threeview,timage,fixed=256,title='Original Model'
<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        threeview,image,fixed=256,title='Reconstruction'

</p><p>
2) To use or even compare renderers, type (this brings up a GUI tool):

<br />&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
        render_rot_gui,image,rescale=3;  rescale simply makes it bigger on screen

</p><p>
If RTWL and/or Pixon are installed, add the /rtwl and /cpixon flags. 'Render_Rot_GUI' also accepts an 'order of magnitude' cutoff to reduce the noise when creating the wireframe. For example, to use just the top 2 orders of magnitude of density: render_rot_gui,image,rescale=3,oom=2

</p>