<h1>Illustration of Voxels/Pixels vs Pixons
</h1>
<table border=1>
<tr><td>Run</td><td>Data</td><td>log(Data)</td></tr>
<tr>
<td>Original data</td>
<td><img src="datum.gif" alt="annealed"></td>
<td><img src="datum_logcut.gif" alt="annealed"></td>
</tr>
<tr>
<td>Pseudo-only step</td>
<td><img src="pseudo.gif" alt="annealed"></td>
<td><img src="pseudo_log.gif" alt="annealed"></td>
</tr>
<tr>
<td>Single smoothing: Pseudo, Smooth, Pseudo</td>
<td><img src="pmsp.gif" alt="annealed"></td>
<td><img src="pmsp_log.gif" alt="annealed"></td>
</tr>
</table>
