body {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
td {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 12px;
}
th {
	font-family: Verdana, Geneva, Arial, helvetica, sans-serif;
	font-size: 12px;
}

h1 {
	font-size: 18px;
	font-weight: bold;
}
h2 {
	font-size: 16px;
	font-weight: bold;
}
h3 {
	font-size: 14px;
	font-weight: bold;
}
h4 {
	font-size: 12px;
	font-weight: bold;
}
ul {
	list-style-type: disc;
	}
.circle {
	list-style-type: circle;
	}	

.h3 {
	font-size: 14px;
	font-weight: bold;
}


.menu1 {
	font-weight: bold;
	color: #FFFFFF;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 11px;
	height: 16px;
}
.menu2 {
	color: #000000;
	text-decoration: none;
	border-bottom-color: #FFFFFF;
	font-size: 11px;
	height: 16px;
}
.footer {
	font-size: 9px;
	margin-top: 0px;
	margin-bottom: 0px;
}
a {
	text-decoration: none;
}
.menu11 {
	font-weight: bold;
	color: #000000;
	padding-top: 1px;
	padding-bottom: 1px;
}
.header {
	font-weight: bold;
	font-size: 18px;
	color: #FFFFFF;
}
.header_gelb {
	font-weight: bold;
	font-size: 18px;
	color: #000000;
}
.top_padding_10 {
	padding-top: 10px;
}
.top_padding_5 {
	padding-top: 5px;
}

.searchInp {
	font-size: 10px;
	width: 85px;
}
.searchBtn {
	font-size: 10px;
	padding-bottom: 3px;
	padding-top: 3px;
}
.select {
	width: 145px;
}
.form {
	height: 7px;
}
.index {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	text-decoration: none;
	border-bottom-color: #FFFFFF;
	font-size: 11px;
	height: 16px;
	background-color: #c1cfe6;
}
.list {
	list-style-type: none;
}
.no_deko {
	list-style-type: none;
	padding-top: 10px;
}
.list1 {
	padding-top: 10px;
}
.description {
	font-size: 11px;
	font-style: italic;
}
.glossary {
	font-size: 10px;
}
.contextMenu {
	color: #000000;
	font-size: 11px;
}


.sidebar_table {
}

.sidebar_item {
	background-color: #D9D9D9;
	height: 16px;
}

.sidebar_item_minor {
	background-color: #e8e8e8;
	height: 16px;
}

.sidebar_item_header {
	height: 16px;
	background-color: #18106b;
}
.sidebar_item_header2 {
	height: 16px;
	background-color: #6384bd;
}


.spacer {
	background-color: #ffffff;
}
.table {
	padding: 4px;
}

.sw_filter_table {
	border-spacing: 0px;
	padding: 5px;
	background-color: #efefef;
	border-top: 1px solid #18106B;
	border-bottom: 1px solid #18106B;
} 


.swenet_sda_filter {
	border-spacing: 0px;
	padding: 5px;
	background-color: #efefef;
	border-top: 1px solid #18106B;
	border-bottom: 1px solid #18106B;
}
.swenet_sda_filter_combobox {
	width: 280px;
}
 
.swenet_sda_table {
	border-spacing: 0px;
} 
.sw_table2 { 
	border-spacing: 0px;
	}
.sw_table2_head {
	text-align: left;
	padding: 5px;
	background-color: #BFCBE0;
	border-top: 1px solid #6384bd;
	border-bottom: 1px solid #6384bd;
}
.sw_table2 thead {
	text-align: left;
	padding: 5px;
	background-color: #BFCBE0;
	border-top: 1px solid #6384bd;
	border-bottom: 1px solid #6384bd;
}
.sw_table2 th {
	padding: 5px;
	border-right: 1px solid #eeeeee;
}
.sw_table2_row { 
	border-spacing: 0px;
	}

.sw_table2_row1_col1 {
	text-align: left;
	padding: 5px;
	background-color: #BFCBE0;
	border-right: 1px solid #ffffff;
	border-top: 1px solid #eeeeee;
}
.sw_table2_row1_col1_p0 {
	text-align: left;
	padding: 0px;
	background-color: #BFCBE0;
	border-top: 1px solid #eeeeee;
	/*test*/border-right: 1px solid #ffffff;
}
.sw_table2_row1h_col1 {
	text-align: left;
	padding: 5px;
	background-color: #BFCBE0;
	border-top: 1px solid #eeeeee;
	/*border-bottom: 1px solid #ffffff;*/
	border-right: 1px solid #ffffff;
}
.sw_table2_row2_col1 {
	text-align: left;
	padding: 5px;
	background-color: #BFCBE0;
	border-bottom: 1px solid #BFCBE0;
	border-top: 1px solid #eeeeee;
	/*test*/border-right: 1px solid #ffffff;
}
.sw_table2_row2_col1_p0 {
	text-align: left;
	padding: 0px;
	background-color: #BFCBE0;
	border-bottom: 1px solid #BFCBE0;
	border-top: 1px solid #eeeeee;
	/*test*/border-right: 1px solid #ffffff;
}
.sw_table2_row1_col2 {
	text-align: left;
	padding: 5px;
	background-color: #EfEfEf;
	border-bottom: 1px solid #BFCBE0;
	/*test*/border-right: 1px solid #ffffff;
}
.sw_table2_row1h_col2 {
	text-align: left;
	padding: 5px;
	background-color: #EfEfEf;
	border-bottom: 1px solid #BFCBE0;
	border-top: 1px solid #BFCBE0;
	/*test*/border-right: 1px solid #ffffff;
}
.sw_table2_row2_col2 {
	text-align: left;
	padding: 5px;
	background-color: #eaeaea;
	border-bottom: 1px solid #BFCBE0;
	/*test*/border-right: 1px solid #ffffff;
}
.sw_table2_row1h_col2_p1 {
	text-align: left;
	padding: 1px;
	background-color: #EfEfEf;
	border-bottom: 1px solid #BFCBE0;
	/*test*/border-right: 1px solid #ffffff;
	border-top: 1px solid #BFCBE0;
	margin-top: 1px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
.sw_table2_row2_col2_p1 {
	text-align: left;
	padding: 1px;
	background-color: #EaEaEa;
	border-bottom: 1px solid #BFCBE0;
	/*test*/border-right: 1px solid #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
.sw_table2_row2_col2_b0 {
	text-align:left;
	padding:3px;
	background-color:#EfEfEf;
	border-top:1px solid #BFCBE0;
	/*test*/border-right: 1px solid #ffffff;
	margin-top:1px;
	margin-right:0px;
	margin-bottom:0px;
	margin-left:0px; 
}

.sw_table3 {
	margin: 2px;
}

.sw_table3_row {
}

.sw_table3_head_row {
}

.sw_table3_head_col {
	font-weight: bold;
	color: dark-grey;
	background-color: #BFCBE0;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.sw_table3_col1 {
	background-color: #BFCBE0;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}
.sw_table3_row1_col1 {
	text-align: center;
	background-color: #eeeeee;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.sw_table3_row1_col2 {
	text-align: left;
	background-color: #eeeeee;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 5px;
}
.sw_table3_row1_col2_a {
	text-align: left;
	background-color: #efefef;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
} 

.sw_table3_row1_col2_ul {
	text-align: center;
	border-right: 0px;
	border-bottom: 1px solid #ffffff;
	background-color: #efefef;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
	}
/*	
.sw_table3_row1_col2 li {
	padding-top: 2px;
	padding-bottom: 2px;
	padding-right: 5px;
	padding-left: 15px;
	}
	*/
.sw_table3_row1_col3 {
	text-align: left;
	background-color: #eeeeee;
	border-bottom: 1px solid #ffffff;
}

.sw_table3_row2_col1 {
	text-align: center;
	background-color: #e0e0e0;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	padding: 5px;
}

.sw_table3_row2_col2 {
	text-align: left;
	background-color: #e0e0e0;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
}

.sw_table3_row2_col3 {
	text-align: left;
	background-color: #e0e0e0;
	border-bottom: 1px solid #ffffff;
}

 

.swenet_tor_link {
	font-size: smaller;
	color: gray;
}

.swenet_timespan {
	color: gray;
}

.swenet_timespan_spot {
	color: black;
}

.timespan_textfield {
	background-color: #dddddd;
	border: 1px dotted blue;
	padding-left: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.data_analysis_result_table {
	empty-cells: show;
}
.data_analysis_result_table thead {
	background-color: black;
	color: white;
}

.menu1 a {
	color: white;
}

.graycell {
	background-color: #d9d9d9;
}

.err {
	color: red;
}

.center_bolster {
	height: 10px;
}

.center_cell {
	vertical-align: top;
}

.menu2 a {
	color: #000000;
}
/* .sw_table2_row1_col1 a {color: #000000;} */
/*  . a {	color: #000000;}*/
/*  .sw_table2_row2_col1 a {	color: #000000;}*/

#swenet_center {
	margin-left: 4px;
}

.swenet_latest_data_table {
	padding: 0px;
	margin:  0px;	
	text-align: left;
	vertical-align: top;
	border-width: 0px;
	border-spacing: 0px;
	/*width: 95%; */
}
.swenet_latest_data_table thead {
	font-weight: bold;
	padding: 5px;
	background-color: #BFCBE0;
	border-right: 1px solid #eeeeee;
}
.swenet_latest_data_table th {
	font-weight: bold;
	padding: 5px;
	background-color: #BFCBE0;
	border-right: 1px solid #eeeeee;
}
.swenet_latest_data_table thead .col1 {
	width: 100px;
	white-space:normal;
}
.swenet_latest_data_table thead .col2 {
	width: 160px;
	border-right: 1px solid #eeeeee;
}
.swenet_latest_data_table thead .col3 {
	width: 450px;
}
.swenet_latest_data_table thead .col4 {
	width: 80px;
	white-space:normal;
}
.swenet_latest_data_table tbody {
	font-weight: normal;
	background-color: #dddddd;	
}
.swenet_latest_data_table tbody .col2 {
	width: 160px;
	border-right: 1px solid #eeeeee;
	padding: 0px;
	white-space:normal;
	text-align: center;
		}
.swenet_latest_data_table td {
	font-weight: normal;
	padding: 5px;
	vertical-align: top;
	border-top: 1px solid #BFCBE0;
	border-right: 1px solid #eeeeee;
}

.swenet_latest_data_table_2nd{
	padding: 0px;
	margin:  0px;	
	text-align: left;
	white-space: normal;
	vertical-align: top;
	border-width: 0px;
	border-spacing: 0px;
	empty-cells: show;
	width: 95%; 
}
.swenet_latest_data_table_2nd th {
	font-weight: bold;
	padding: 5px;
	background-color: #BFCBE0;
	border-right: 1px solid #eeeeee;
	border-bottom: 1px solid #ffffff;
	}
.swenet_latest_data_table_2nd thead .col1 {
	width: 18%;
}
.swenet_latest_data_table_2nd thead .col2 {
	width: 75%;
}
.swenet_latest_data_table_2nd thead .col3 {
	width: 17%;
}
.swenet_latest_data_table_2nd td {
	font-weight: normal;
	padding: 5px;
	vertical-align: top;
	border-top: 1px solid #BFCBE0;
	border-right: 1px solid #eeeeee;
	background-color: #dddddd;
}
.swenet_latest_data_table_2nd ul .circle{
	list-style-type: circle;
}
.swenet_latest_data_table_2nd tbody .col3{
	font-size: 8pt;
}

.swenet_latest_data_cell_access_service{
	text-align: left;
	font-size: 8pt;
	white-space:normal;
}
.swenet_latest_data_cell_access_data{
	text-align: left;
	font-size: 7pt;
}
.swenet_latest_data_cell_access_data a{
	text-align: left;
	font-size: 8pt;
}
.swenet_latest_indices_access_data_link{
	text-align: left;
	font-size: 8pt;
	vertical-align: top;
}


.swenet_gafs_result_table td{
	padding: 2px;
	margin: 5px;
	border-top: 0px;
	border-right: 0px;
}


.swenet_latest_plots_table td {
	padding: 2px;
	text-align: center;
}
.swenet_latest_plots_table td p {
	font-weight: bold;
}

.statistics_table {
	border-spacing: 1px;
	white-space: nowrap;
	background-color: gray;
}
.statistics_table td {
	padding: 2px;
}
.statistics_table thead {
	color: white;
	background-color: black;
	font-weight: bold;
	text-align: center;
}
.statistics_table thead th {
	text-align: left;
}
.statistics_table tbody {
	color: black;
	background-color: white;
	text-align: right;
}
.statistics_table tbody th {
	text-align: left;
	text-indent: 5px;
	font-weight: normal;
}

.swenet_sda_general_search_table {
	margin-top: 15px;
}
.swenet_sda_general_search_table td {
	padding: 3px;
	text-align: center;
}
.swenet_sda_general_search_table th {
	padding: 5px;
	text-align: center;
	color: #18106B;
	font-size: 13px;
	font-weight: bold;
}

.swenet_user_administration_list_table {
	background-color: gray;
	border-spacing: 1px;
}
.swenet_user_administration_list_table th {
	background-color: black;
	color: white;
}
.swenet_user_administration_list_table td {
	color: black;
	background-color: white;
}

.swenet_data_browsing_choice_table {
	margin-top: 1.5ex;
	margin-bottom: 1.5ex;
}

.swenet_data_browsing_choice_table th {
	text-align: left;
	vertical-align: middle;
	padding: 5px;
	background-color: #BFCBE0;
	border-top: 1px solid #eeeeee;
	border-bottom: 1px solid #BFCBE0;
	border-right: 1px solid #ffffff;
}

.swenet_data_browsing_choice_table td {
	text-align: left;
	vertical-align: top;
}

.swenet_data_browsing_choice_table .header_col {
	padding: 5px;
	background-color: #BFCBE0;
	border-top: 1px solid #eeeeee;
	border-right: 1px solid #ffffff;
}

.swenet_data_browsing_choice_table .desc_col {
	text-align: justify;
	padding: 5px;
	background-color: #eaeaea;
	border-bottom: 1px solid #BFCBE0;
	border-right: 1px solid #ffffff;
}

.swenet_data_browsing_choice_table .image_col {
	padding: 1px;
	background-color: #EaEaEa;
	border-bottom: 1px solid #BFCBE0;
	border-right: 1px solid #ffffff;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 1px;
	margin-left: 0px;
}
